@font-face {
    font-family: 'Marck Script';
    src: url('../fonts/MarckScript-Regular.ttf');
}

@font-face {
    font-family: 'Pattaya';
    src: url('../fonts/Pattaya-Regular.ttf');
}

@font-face {
    font-family: 'Great Vibes';
    src: url('../fonts/GreatVibes-Regular.ttf');
}